/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        holdTap: holdTap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLDTAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };

        long_hold: long_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "LONG_HOLD";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <500>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&trans  &long_hold ESCAPE Q  &kp W  &kp E              &kp R                  &kp T        &kp Y      &kp U                  &kp I                  &kp O    &holdTap KP_MINUS P         &trans
&trans  &kp A                &kp S  &long_hold LALT D  &long_hold LEFT_GUI F  &kp G        &kp H      &long_hold LEFT_GUI J  &long_hold LEFT_ALT K  &kp L    &holdTap SINGLE_QUOTE SEMI  &trans
&trans  &kp Z                &kp X  &kp C              &kp V                  &kp B        &kp N      &kp M                  &kp COMMA              &kp DOT  &kp FSLH                    &trans
                                    &kp BACKSPACE      &holdTap RETURN SPACE  &kp LSHFT    &sk LCTRL  &to 1                  &kp DEL
            >;
        };

        symbol_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &holdTap ESC N1           &kp N2    &kp N3    &kp N4     &kp N5        &kp N6                  &kp N7                                       &kp N8                           &kp N9                               &kp N0                               &trans
&trans  &kp TAB                   &kp HOME  &kp UP    &kp END    &kp PG_UP     &kp PERIOD              &holdTap RIGHT_PARENTHESIS LEFT_PARENTHESIS  &holdTap RIGHT_BRACE LEFT_BRACE  &holdTap RIGHT_BRACKET LEFT_BRACKET  &holdTap DOUBLE_QUOTES SINGLE_QUOTE  &trans
&trans  &holdTap SPACE LG(LS(S))  &kp LEFT  &kp DOWN  &kp RIGHT  &kp PG_DN     &trans                  &kp EQUAL                                    &kp LS(PLUS)                     &kp MINUS                            &kp LS(EXCL)                         &trans
                                            &kp LGUI  &to 0      &kp LSHIFT    &holdTap DEL BACKSPACE  &to 2                                        &kp LALT
            >;
        };

        number_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp F1        &kp F2        &kp F3        &kp F4        &kp F5          &kp F6         &kp F7        &kp F8        &kp F9        &kp F10  &trans
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans         &kp NUMBER_4  &kp N5        &kp N6        &kp F11  &trans
&trans  &trans        &trans        &trans        &trans        &trans          &trans         &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp F12  &trans
                                    &kp LGUI      &to 0         &kp LSHFT       &kp BACKSPACE  &to 3         &kp RALT
            >;
        };

        game {
            bindings = <
&trans  &holdTap ESCAPE N1  &kp Q  &kp W      &kp E      &kp R        &kp Y        &kp U  &kp I      &kp O    &kp P     &trans
&trans  &holdTap TAB N2     &kp A  &kp S      &kp D      &kp F        &kp H        &kp J  &kp K      &kp L    &kp SEMI  &trans
&trans  &kp N3              &kp Z  &kp X      &kp C      &kp V        &kp N        &kp M  &kp COMMA  &kp DOT  &kp FSLH  &trans
                                   &kp LCTRL  &kp LSHFT  &kp SPACE    &kp LA(TAB)  &to 1  &to 1
            >;
        };
    };
};
